.products {
    display: flex;
    flex-wrap: wrap;
  }

  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 24%;

    flex-flow: row wrap;
  
    display: flex; /* so child elements can use flexbox stuff too! */
  }

  .product-image img {
    max-width: 100%;
  }