<section class="products">

    <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->
  
    <div class="product-card">
      <div class="product-image">
        <img src="https://shirtoid.com/wp-content/uploads/2020/05/Just-one-more-piece-of-sushi.jpg">
      </div>
      <div class="product-info">
        <h3>sushi</h3>
        <h4>$99.99</h4>
      </div>
    </div>

    <div class="product-card">
        <div class="product-image">
          <img src="https://shirtoid.com/wp-content/uploads/2015/06/Tacobolus.jpg">
        </div>
        <div class="product-info">
          <h3>Tacobolus</h3>
          <h4>$99.99</h4>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="https://shirtoid.com/wp-content/uploads/2020/05/Taco-Toupee.jpg">
        </div>
        <div class="product-info">
          <h3>Taco</h3>
          <h4>$99.99</h4>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="https://shirtoid.com/wp-content/uploads/2018/05/Tuesday.jpg">
        </div>
        <div class="product-info">
          <h3>Tuesday</h3>
          <h4>$99.99</h4>
        </div>
      </div>

      <div class="product-card">
        <div class="product-image">
          <img src="https://shirtoid.com/wp-content/uploads/2019/03/Taco-Shame.jpg">
        </div>
        <div class="product-info">
          <h3>shame</h3>
          <h4>$99.99</h4>
        </div>
      </div>
  
    <!-- more products -->
  
  </section>